## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: sdwdate-plugin-anon-shared-streamiso
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime, genmkfile
Homepage: https://github.com/Whonix/sdwdate-plugin-anon-shared-streamiso
Vcs-Browser: https://github.com/Whonix/sdwdate-plugin-anon-shared-streamiso
Vcs-Git: https://github.com/Whonix/sdwdate-plugin-anon-shared-streamiso.git
Standards-Version: 3.9.6

Package: sdwdate-plugin-anon-shared-streamiso
Architecture: all
Depends: sdwdate, ${misc:Depends}
Suggests: sdwdate-plugin-anon-shared-con-check
Description: Sdwdate Stream Isolation Plugin for Anonymity Distributions
 Plugin for sdwdate.
 .
 Sets sdwdate's proxy settings to socks 10.152.152.10:9108.
 .
 For better stream isolation (better anonymity/privacy).
